
 .carousel-item img {
    width: 100%;
  }
  
  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 将幻灯片放在底部 */
  }
  
  .carousel-item {
  }
  
  .index_banner {
    border-radius: 0 0 200px 200px;
  
    background-position: center;
    background-size: cover;
  }
  
  .navbar {
    position: relative;
    z-index: 1; /* 将导航栏放在幻灯片上面 */
    top: 50px; /* 设置导航栏距离网页顶部的距离 */
  }
  