
/* --------------------------------------- */

.navbar-light .navbar-nav .nav-link {
    color: #002448;
    font-weight: bold;
    font-size: 20px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  
  .top_banner {
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .navbar {
    top: 50px;
    padding: 2rem;
    width: 50%;
    margin-left: auto;
    border-radius: 30px 0px 0px 30px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1rem;
  }
  
  .media_icon {
    display: flex;
    width: 70px;
    padding: 25px 15px;
    background-color: #fff;
    flex-direction: column;
    border-radius: 30px 0px 0px 30px;
    margin-left: auto;
    gap: 17px;
    position: relative;
    top: 80px;
  }
  
  /*-----------------footer-------------- */
.footer_content{
    background-color: #01162B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
  }
  
  footer h4{
    color: #fff;
  }
  
  .footer_media{
    display: flex;
    align-items: center;
    gap: 30px
  }
  
  .footer_media_icon{
    display: flex;
    gap: 20px
  }
  

  /* bootstrap bar */
  @media only screen and (max-width: 991px) {
    .navbar {
      top: 20px;
      padding: 0.5rem;
      width: 100%;
      margin-left: auto;
      border-radius: 20px;
    }
    .navbar > .container,
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
      justify-content: flex-end;
    }
  }
  