.top_banner {
  
}

.carousel-item img {
  border-radius: 0 0 200px 200px;
  height: 600px;
}

.carousel {
  /* position: absolute; */
  
}

.index_banner {
  
}

.navbar {
}

.nav_media {
  position: absolute;
  width: 100%;
  top: 0px;
}

/* ------------section-------------- */
.lane_block,
.bridge_block,
.markrt_block {
  display: none;
}

.lane_tab,
.bridge_tab,
.market_tab {
  cursor: pointer;
}

.lane_tab:hover h1,
.lane_tab:hover svg path {
  color: #0e7fc5; /* 更改文本颜色 */
  stroke: #0e7fc5;
}

.bridge_tab:hover h1,
.bridge_tab:hover svg path,
.market_tab:hover h1,
.market_tab:hover svg path {
  color: #0e7fc5; /* 更改文本颜色 */
  fill: #0e7fc5; /* 更改SVG路径的描边颜色 */
}

.switch_link {
  width: 45%;
  height: 471px;
  border-radius: 0px 100px 0px 0px;
  background: #efefef;
  z-index: -1;
  margin-top: 10%;
}

.switch_link ul {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.switch_link li {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.custom-svg {
  width: 25px;
  padding-bottom: 20px;
}

.content_title {
  background-image: url(/images/text_bg.png);
  height: auto;
  width: 90%;
  margin: -270px 0 10% 0;
  position: relative;
  margin-left: auto;
  padding: 50px;
}

.content_title h1 {
  text-align: center;
  padding-bottom: 50px;
}

.content_mid {
  display: flex;
  gap: 77px;
}
.content_img {
  display: flex;
  align-items: center;
}

.content_text {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.content_text h5 {
  padding-left: 20px;
  margin-top: 40px;
}

.line_blue {
  width: 97.005px;
  height: 2px;
  background-color: #002448;
}

.content_text ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}

.content_text_store li {
  text-align: center;
  width: 200px;
}

.content_text h6 {
  padding-top: 20px;
  text-align: center;
}

.content_text h1 {
  color: #000;
  font-size: 30px;

  font-weight: bold;
  letter-spacing: 10.35px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more svg {
  margin-right: -40px;
}

.more h1 {
  margin: 0;
  padding: 0;
}

/* 橫向滾動店家 */

.store_carousel_pad {
  display: none;
}

.side-scroll__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
}

.scroll_store {
  background-color: #002448;
}

.scroll_store_title {
  margin: 20px 0 0 20px;
}

.line_white {
  width: 97.005px;
  height: 2px;
  background-color: #ffffff;
}

.scroll_store h1 {
  color: #ffffff;
  padding-left: 20px;
}

.side-scroll__content {
  position: relative;
  top: 45%;
}

.scroll_text {
  display: block;
  background-image: url(/images/scroll_text.svg);
  min-width: 1200px;
  margin: 0 5px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.side-scroll__list {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  list-style: none;
}

.side-scroll__label {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  align-items: center;
  width: 100%;
  height: 53px;
  padding-top: 9px;
  overflow: hidden;
  transform: translateY(-50%);
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
}

.side-scroll__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
}

.side-scroll__image {
  width: 53%;
  max-width: 302px;
  width: 100%;
  /* transform: rotate(8deg); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.side-scroll__image p {
  color: #fff;
  font-weight: bold;
}

/* RWD */
@media only screen and (max-width: 1475px) {
  .index_banner {
    /* border-radius: 0 0 150px 150px; */
  }
  .content_text_store li {
    text-align: center;
    width: 140px;
  }
  .content_text {
    width: 60%;
  }
  .more {
    margin-top: 30px;
  }
}

@media only screen and (device-width: 1366px) and (device-height: 1024px) {
  .carousel-item img {
    border-radius: 0 0 100px 100px;
  }
  .content_text_store li {
    text-align: center;
    width: 130px;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 720px) {
  .navbar {
    width: 75%;
  }
  .content_mid {
    flex-direction: column;
    align-items: center;
  }
  .content_text {
    width: 80%;
  }
  .switch_link {
    width: 75%;
  }
  .index_banner {
    height: 550px;
  }
}
@media only screen and (max-width: 769px) {
  .content_mid {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
}
@media only screen and (max-width: 414px) {
}
