.top_banner {
}

.carousel-item img {
  border-radius: 0 0 200px 200px;
  height: 500px;
}

.carousel {
  /* position: absolute; */
}

.index_banner {
}

.navbar {
}

.nav_media {
  position: absolute;
  width: 100%;
  top: 0px;
}

/* ------------section-------------- */
.lane_block,
.bridge_block,
.markrt_block {
  display: none;
}

.lane_tab,
.bridge_tab,
.market_tab {
  cursor: pointer;
}

.lane_tab:hover h1,
.lane_tab:hover svg path {
  color: #0e7fc5; /* 更改文本颜色 */
  stroke: #0e7fc5;
}

.bridge_tab:hover h1,
.bridge_tab:hover svg path,
.market_tab:hover h1,
.market_tab:hover svg path {
  color: #0e7fc5; /* 更改文本颜色 */
  fill: #0e7fc5; /* 更改SVG路径的描边颜色 */
}

.switch_link {
  width: 45%;
  height: 471px;
  border-radius: 0px 100px 0px 0px;
  background: #efefef;
  z-index: -1;
  margin-top: 10%;
}

.switch_link ul {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.switch_link li {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.custom-svg {
  width: 25px;
  padding-bottom: 20px;
}

.content_title {
  background-image: url(https://w.tw.mawebcenters.com/0970018110/image/text_bg.webp);
  height: auto;
  width: 90%;
  margin: -270px 0 10% 0;
  position: relative;
  margin-left: auto;
  padding: 50px;
}

.content_title h1 {
  text-align: center;
  padding-bottom: 50px;
}

.content_mid {
  display: flex;
  gap: 77px;
}
.content_img {
  display: flex;
  align-items: center;
}
.content_img img {
  width: 600px;
  height: 450px;
}

.content_text {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.content_text h5 {
  padding-left: 20px;
  margin-top: 40px;
}

.line_blue {
  width: 97.005px;
  height: 2px;
  background-color: #002448;
}

.content_text ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}

.content_text_store li {
  text-align: center;
  /* width: 200px; */
}
.content_text_store img {
  width: 183px;
  height: 151px;
}

.content_text h6 {
  padding-top: 20px;
  text-align: center;
}

.content_text h1 {
  color: #000;
  font-size: 30px;

  font-weight: bold;
  letter-spacing: 10.35px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more svg {
  margin-right: -40px;
}

.more h1 {
  margin: 0;
  padding: 0;
}

/* RWD */

@media only screen and (max-width: 1776px) {
  .content_text_store img {
    width: 170px;
    height: 130px;
  }
  .content_text_store img {
    width: 145px;
    height: 110px;
  }

  .carousel-item img {
    border-radius: 0 0 150px 150px;
    height: 500px;
  }
}

@media only screen and (max-width: 1563px) {
  .index_banner {
    /* border-radius: 0 0 150px 150px; */
  }
  .content_text_store li {
    text-align: center;
  }
  .content_text {
    width: 100%;
  }
  .more {
    margin-top: 30px;
  }

  .lane_tab h1,
  .bridge_tab h1,
  .market_tab h1 {
    font-size: 20px;
  }
  .content_text_store img {
    width: 115px;
    height: 92px;
  }
  .content_title {
    width: 100%;
  }
  .carousel-item img {
    border-radius: 0 0 150px 150px;
    height: 500px;
  }
}

@media only screen and (max-width: 1366px) {
  .content_text_store img {
    width: 185px;
    height: 142px;
  }
  .content_mid {
    display: flex;
    gap: 77px;
    flex-direction: column;
    align-items: center;
  }
  .carousel-item img {
    border-radius: 0 0 100px 100px;
    height: 400px;
  }
  .content_text_store li {
    text-align: center;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 720px) {
  .navbar {
    width: 75%;
  }
  .content_mid {
    flex-direction: column;
    align-items: center;
  }
  .content_text {
    width: 80%;
  }
  .switch_link {
    width: 75%;
  }
  .index_banner {
    height: 550px;
  }
}

@media only screen and (max-width: 991px) {
  .switch_link {
    width: 75%;
  }
  .content_text_store img {
    width: 160px;
    height: 115px;
  }
}

@media only screen and (max-width: 830px) {
  .content_title {
    padding: 20px;
  }
}

@media only screen and (max-width: 769px) {
  .content_mid {
    flex-direction: column;
    align-items: center;
  }
  .content_text_store img {
    width: 130px;
    height: 95px;
  }
}
@media only screen and (max-width: 768px) {
  .content_text ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content_text_store img {
    width: 340px;
    height: 245px;
  }
  .content_img img {
    width: 510px;
    height: 350px;
  }
}
@media only screen and (max-width: 560px) {
  .switch_link {
    width: 85%;
  }
  .content_img img {
    width: 410px;
    height: 280px;
  }
  .carousel-item img {
    border-radius: 0 0 20px 20px;
    height: 300px;
  }
}
@media only screen and (max-width: 466px) {
  .content_img img {
    width: 330px;
    height: 200px;
    width: 340px;
    height: 245px;
  }
  .index_banner {
    border-radius: 0 0 80px 80px;
  }
}
